<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        <h1>Wellcome back to the discord bot website, do you want to login?:</h1>
        <a href="/login" class="anchor">Login</a>
        <p>or if you don't have an account, create it here: <a href="/signup" class="anchor">Sign up</a></p>
    </div>
</body>
</html>