{% extends 'base.html' %}
{% block title %}
<title>Sources</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Sources</h1>
    <p>Youtube: <a href="https://www.youtube.com/watch?v=cCiqcu2NP8I&list=PL-7Dfw57ZZVRB4N7VWPjmT0Q-2FIMNBMP" class="anchor">How to make discord bot</a>, <a class="anchor" href="https://www.youtube.com/watch?v=cCiqcu2NP8I&list=PL-7Dfw57ZZVRB4N7VWPjmT0Q-2FIMNBMP">How to make a discord bot</a>
    Google: Random questions,
    Chatgpt: Bug fixing, explaining stuff to me.
    </p>
</div>
{% endblock %}